---
//components
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
const EXPERIENCE = [
    {
        date: "April 2024 - September 2024",
        title: "Frontend Developer",
        company: "Perceptio",
        description:
            "Worked on application migration, performance optimisation, and document repository integration using SAPUI5 and SAP BTP technologies. Implemented CI/CD pipelines to automate deployments, optimised user interfaces, and enhanced overall system performance.",
        skills: [
            "SAPUI5",
            "SAP BTP",
            "CI/CD pipelines",
            "Performance optimisation",
            "RESTful APIs",
            "Frontend development",
        ],
    },
    {
        date: "July 2022 - April 2024",
        title: "Full Stack Developer",
        company: "Mundo Cloud",
        description:
            "Developed full-stack applications, optimised backend architecture, and improved data retrieval processes. Migrated legacy systems to OData services, implemented Nest.js and TypeScript for robust backend solutions, and significantly enhanced application performance and data integrity.",
        skills: [
            "Full-stack development",
            "Nest.js",
            "TypeScript",
            "OData services",
            "SQL",
            "Backend optimisation",
        ],
    },
    {
        date: "January 2022 - Present",
        title: "Frontend Developer",
        company: "Freelance",
        description:
            "Designed customised websites for diverse clients, including lawyers, engineers, teachers, and restaurants. Focused on creating user-friendly interfaces, optimising websites for SEO, and integrating Google AdWords to improve visibility and engagement.",
        skills: [
            "Frontend development",
            "SEO optimisation",
            "Google AdWords integration",
            "Responsive design",
            "Custom website design",
            "Client communication",
        ],
    },
];
---

<Layout
    title="Edwin Portfolio"
    description="Edwin León's professional portfolio"
>
    <main class="px-4">
        <SectionContainer
            id="experiencie"
            class="pt-16 md:pt-36"
        >
            <TitleSection>
                <Briefcase class="size-8" />
                Work Experience
            </TitleSection>
            <ol class="relative mt-16">
                {
                    EXPERIENCE.map((experience) => (
                        <li class=" mb-4">
                            <ExperienceItem {...experience} />
                        </li>
                    ))
                }
            </ol>
        </SectionContainer>
    </main>
</Layout>
