---
//components
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
---

<Layout
	title="Edwin Portfolio"
	description="Edwin León's professional portfolio"
>
	<main class="px-4">
		<SectionContainer
			class="pt-16 md:pt-36 flex flex-row max-w-xl max-sm:flex-col-reverse max-sm:items-center"
		>
			<Hero />
		</SectionContainer>
	</main>
	<div class="space-y-24">
		<SectionContainer id="experiencie">
			<Skills />
		</SectionContainer>
	</div>
</Layout>
