---
//components
import Layout from "../layouts/Layout.astro";

import SectionContainer from "../components/SectionContainer.astro";
import TitleSection from "../components/TitleSection.astro";
import CodeIcon from "../components/icons/Code.astro";
import ProjectsView from "../components/ProjectsView.astro";
---

<Layout
    title="Edwin Portfolio"
    description="Edwin León's professional portfolio"
>
    <div class="px-4">
        <SectionContainer id="projects" class="pt-16 md:pt-36">
            <TitleSection>
                <CodeIcon class="size-7" />
                Projects
            </TitleSection>
            <ProjectsView />
        </SectionContainer>
    </div>
</Layout>
