---
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hi, I’m Edwin León, a <strong
        >Full Stack Software Developer with over 2 years of experience</strong
      >. Originally from Colombia, I have a passion for <strong
        >crafting modern web applications</strong
      > that enhance user experiences. I specialise in <strong
        >integrating ERP services into frontend applications</strong
      >, making data more accessible and usable for end-users.
    </p>

    <p>
      During my career, I have successfully <strong
        >developed new web apps</strong
      >, <strong>optimised legacy code for improved performance</strong>, and <strong
        >led database migration projects</strong
      >. I take pride in <strong>mentoring new team members</strong> to ensure a
      smooth onboarding process and maintain high-quality code through careful review
      of merge requests.
    </p>

    <p>
      Currently, I am focused on creating <strong
        >intuitive user interfaces</strong
      > and seamless integrations with various servers using <strong
        >RESTful APIs and web services</strong
      >. My goal is to continually expand my skills and contribute to projects
      that make a real difference.
    </p>

    <p>
      Outside of programming, I enjoy <strong
        >collaborating with the tech community</strong
      > and participating in local meetups to share knowledge and experiences. I
      believe in the power of <strong>continuous learning</strong> and am excited
      about the opportunities ahead.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/IMInBrisbane.jpeg"
    alt="Edwin is in Brisbane"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>