---
import Badge from "./Badge.astro";
import LinkedInIcon from "./icons/LinkedInIcon.astro";
import SocialPill from "./SocialPill.astro";
---

<article
  class="flex flex-col items-center justify-between gap-8 text-gray-700 dark:text-gray-300 md:flex-row md:gap-12 max-sm:px-4"
>
  <!-- Image Section with Personal Details -->
  <div class="relative flex flex-col items-center order-1 md:order-1 space-y-4">
    <!-- Image -->
    <img
      width="200"
      height="200"
      src="/lightPhoto.jpg"
      alt="Me in Sunny day"
      class="object-cover rounded-xl bg-gradient-to-br from-yellow-100 to-gray-200 shadow-md ring-2 ring-black/10 dark:ring-white/10 transition-transform transform hover:scale-105 dark:hidden block"
    />
    <!-- class="rounded-xl  dark:hidden" -->
    <img
      width="200"
      height="200"
      src="/darkPhoto.jpg"
      alt="Me at night"
      class="object-cover rounded-xl bg-gradient-to-br dark:from-yellow-500/10 dark:to-gray-700/30 shadow-md ring-2 ring-black/10 dark:ring-white/10 transition-transform transform hover:scale-105 hidden dark:block"
    />

    <!-- Personal Details -->
    <div class="text-center space-y-2">
      <p class="text-lg font-semibold text-yellow-400">Full Stack Developer</p>
      <p class="text-sm text-gray-600 dark:text-gray-400">
        Brisbane, Australia
      </p>
      <p class="text-sm text-gray-600 dark:text-gray-400">
        <a
          href="mailto:edwinleon@webdevinnovation.com?subject=Potential%Opportunity&body=I%20would%20like%20to%20connect%20with%20you."
          class="hover:underline"
          target="_blank"
        >
          edwinleon@webdevinnovation.com
        </a>
      </p>
      <p class="text-sm text-gray-600 dark:text-gray-400">+61 0452 069 981</p>
    </div>

    <!-- Download Resume Button -->
    <Badge href="https://www.linkedin.com/in/edwinleonb/">OPEN TO WORK</Badge>
  </div>

  <!-- Text Section -->
  <div class="order-2 md:order-2 max-w-xl space-y-6">
    <!-- First Paragraph -->
    <p class="leading-relaxed text-lg">
      Hi, I’m <strong class="text-yellow-400">Edwin León</strong>, a <strong
        >Full Stack Software Developer with over 2 years of experience</strong
      >. Originally from Colombia, I am passionate about <strong
        >crafting modern web applications</strong
      >
      that enhance user experiences. My expertise lies in <strong
        >integrating ERP services into frontend applications</strong
      >, making data more accessible and user-friendly.
    </p>

    <!-- Second Paragraph -->
    <p class="leading-relaxed text-lg">
      Throughout my career, I’ve <strong>developed new web apps</strong>,
      <strong>optimised legacy code for performance</strong>, and <strong
        >led database migration projects</strong
      >. I also enjoy <strong>mentoring team members</strong> to ensure smooth onboarding
      and maintain high-quality standards in collaborative projects.
    </p>

    <!-- Third Paragraph -->
    <p class="leading-relaxed text-lg">
      Currently, my focus is on <strong
        >creating intuitive user interfaces</strong
      > and integrating
      <strong>RESTful APIs</strong> to deliver seamless server connections. I am
      driven by a desire to continually expand my skills and contribute to impactful
      projects.
    </p>

    <!-- Fourth Paragraph -->
    <p class="leading-relaxed text-lg">
      Outside of programming, I enjoy <strong
        >collaborating with the tech community</strong
      > through meetups and knowledge-sharing events. I believe in the power of <strong
        >continuous learning</strong
      > and look forward to exciting opportunities ahead.
    </p>
  </div>
</article>
