---
import LinkInline from "./LinkInline.astro";

interface Props {
    title: string;
    company: string;
    description: string;
    link?: string;
    date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div class="flex flex-col items-center space-y-4">
    <div
        class="p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-2xl hover:border hover:border-yellow-400"
    >
        <h3
            class="text-xl font-bold text-yellow-400"
        >
            {title}
        </h3>
        <h4 class="text-lg text-gray-600 dark:text-gray-300">{company}</h4>
        <time class="text-sm text-gray-500 dark:text-gray-400">{date}</time>
        <p class="mt-2 text-gray-700 dark:text-gray-300">{description}</p>
    </div>
</div>