---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "./icons/GithubIcon.astro";
---

<div>
    <h1
        class="text-5xl font-extrabold tracking-tight text-black sm:text-6xl dark:text-white"
    >
        Edwin Leon
    </h1>
    <h2
        class="text-3xl font-bold tracking-tight text-black sm:text-4xl dark:text-gray-300"
    >
        Full Stack Developer
    </h2>
    <p class="mt-6 text-lg sm:text-xl text-black dark:text-gray-400">
        <strong class="text-yellow-400 font-semibold"
            >With over three years of experience as a software developer,</strong
        >
        I have collaborated with global teams, contributing to impactful projects
        across diverse industries and delivering solutions tailored to business needs.
    </p>

    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/edwinleonb/">
            <LinkedInIcon class="size-4" />
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Edwinleon95">
            <GithubIcon class="size-4" />
            Github
        </SocialPill>
        <SocialPill href="mailto:edwinm.leonb@gmail.com">
            <EmailIcon class="size-4" />
            Contact Me
        </SocialPill>
    </nav>
</div>

<div>
    <img
        class="rounded-full filter drop-shadow-[0_0_10px_#4444dd] dark:drop-shadow-[0_0_100px_#ffffff]"
        src="/mainPicturePortfolio.png"
        alt="Edwin Profile Picture"
    />
</div>