---
import { ALL_TECHNOLOGIES } from "../consts";
---

<article class="pt-12">
    <ul class="flex flex-wrap justify-center gap-5 px-0 py-0">
        {
            ALL_TECHNOLOGIES.map((technologie) => {
                const Icon = technologie.icon;

                return (
                    <li
                        id={technologie.name}
                        class="icon-container text-gray-900 dark:text-gray-100"
                        style={{ "--background-dif": technologie.color }}
                    >
                        <Icon class="icon" width="50" height="50" />
                        <span class="tooltip"> {technologie.name} </span>
                    </li>
                );
            })
        }
    </ul>
</article>

<!-- <SkillPopUp /> -->
